<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="robots" content="noindex" />
  <link rel="shortcut icon" type="image/x-icon" href="../favicon.ico?"/>
  <link rel="stylesheet" href="../style.css" class="style">
  <title>Kaju Burfi's Blog</title>
</head>

<body>
  <div class="topnav">
    <a href="../index.html">Homepage</a>
    <a href="./index.html">Blogs</a>
    <a class="split" id="themeButton"></a>
  </div>
  <div class="container">
    <div class="center disable-select titleMain mode" id="titleMain">$title$</div>

    <div class="center disable-select aboutMe" id="aboutMe">
      <h3 class="sub_header">$date$</h3>
      $aboutMe$
    </div>
  </div>

  $body$

  <p class="lastEdited" id="last_edited">Last Edited: </p>

  <!-- Script written by python128 -->

  <!-- Syntax highlighting -->
  <link rel="stylesheet" href="https://unpkg.com/@highlightjs/cdn-assets@11.3.1/styles/github-dark-dimmed.min.css" />
  <script src="https://unpkg.com/@highlightjs/cdn-assets@11.3.1/highlight.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlightjs-line-numbers.js/2.8.0/highlightjs-line-numbers.min.js"></script>
  <script> hljs.highlightAll(); </script>

  <script type="text/javascript" src="../themeing.js"></script>
  <script>
    // Add last-edited to the page
    const date = new Date(document.lastModified);
    // (WEEKDAY) Month date year
    // (FRI) Apr 09 2025
    const toBePrinted = "("+date.toString().split(' ').slice(0, 4).toString().replace(",", ") ").replaceAll(",", " "); 
    document.getElementById("last_edited").innerHTML += toBePrinted;
  </script>
</body>

</html>
